<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/masterlayout}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Add Catalog</title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/heroic-features.css" rel="stylesheet">
</head>

<body style="font-size: 14px">

<th:block layout:fragment="content">
<form class="form-horizontal" action="/addcatalog" method="post" enctype="multipart/form-data" th:object="${catalog}">
    <fieldset>
        <input type="hidden" name="id" th:value="${catalog.id}">

        <h1 align="center">Add Catalog</h1>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="catalog_name">CATALOG NAME</label>
            <div class="col-md-4">
                <input style="font-size: 14px" id="catalog_name" name="catalog_name" placeholder="Catalog Name" class="form-control input-md" required="" type="text" th:field="${catalog.catalogName}">

            </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="catalog_description">CATALOG DESCRIPTION</label>
            <div class="col-md-4">
                <textarea style="font-size: 14px" class="form-control" id="catalog_description" name="catalog_description" placeholder="Catalog Description" required=""  th:field="${catalog.catalogDescription}"></textarea>
            </div>
        </div>

        <!-- File Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="image_upload">CATALOG IMAGE</label>
            <div class="col-md-4">
                <input id="image_upload" name="image_upload" class="input-file" type="file" required="">
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="savebutton"></label>
            <div class="col-md-4">
                <button type="submit" id="savebutton" name="savebutton" class="btn btn-primary">Submit</button> &nbsp;&nbsp;&nbsp;&nbsp;
                <button type="reset" id="cancelbutton" name="cancelbutton" class="btn btn-secondary">Clear</button>
            </div>
        </div>

    </fieldset>
</form>
</th:block>
<th:block layout:fragment="footer"></th:block>
<!--<div>-->
    <!--<footer th:replace="webapps/index :: footerCopyRight"></footer>-->
<!--</div>-->
    <!--<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>-->
    <!--<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
