<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/masterlayout}">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>E-Shoppers</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/cataloglist.css}" />
    <!-- Custom styles for this template -->
    <link href="../css/heroic-features.css" rel="stylesheet">

</head>

<body>
<!--<div>-->
<!--<header th:insert="webapps/index :: navHeader">	</header>-->
<!--</div>-->
<th:block layout:fragment="content">
    <div class="container" id="container">
        <h1>All Products</h1><br/>
        <a href="/product">Create a Product</a>
        <a href="/" id="linkBackHome" >Back to home</a><br/><br/>
        <!--<form action="/place/order" method="post" th:object="${cart}">-->
            <!--<input th:field="${products}" type="hidden" ></input>-->
        <table class="table table-striped">
            <thead>
            <th>Product Name</th>
            <th>Quantity </th>
            <th>Unit Price</th>
            <th>Actions</th>
            </thead>
            <tbody>
            <tr th:each="content: ${cart}">
                <td th:text="${content.product.productName}"></td>
                <td th:text="${content.quantity}"></td>
                <td th:text="${content.product.unitPrice}"></td>
                <!--<td><img  th:src="@{'data:image/jpeg;base64,'+${product.productPic}}"/></td>-->
                <td>
                    <!--<a th:href="@{'/product/' + ${product.id}}">Edit</a>&nbsp;-->
                    <!--<a th:href="@{'/product/delete/' + ${product.id}}">Delete</a>-->
                </td>
            </tr>
            </tbody>
        </table>
            <div style="float: right;">
                <a th:href="@{'/place/order/' + ${cart.get(0).customer.getCid()}}">Checkout</a>
                <!--<input type="submit"  value="Checkout" class="btn btn-outline-success"></input>-->
            </div>
        </form>

    </div>

</th:block>
<!--<div>-->
<!--<footer th:replace="webapps/index :: footerCopyRight"></footer>-->
<!--</div>-->
</body>
</html>
