<!-- <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Index Page</title>
</head>
<body>
<div style="text-align: center;"><h1 >Welcome</h1></div>
<div style="text-align: center;"><img alt="eshopper image" src="../images/e-shopper.gif"></div>

<div style="text-align: center;"><a th:href="@{/login}">Log In</a></div>
<div style="text-align: center;"><img alt="eshopper image" src="../images/e-shoppers-1.jpg"></div>
<div style="text-align: center;"><a th:href="@{/signup}">Sign Up</a></div>


</body>
</html> -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>E-Shoppers</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/heroic-features.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" th:fragment="navHeader">
    	<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
      <div class="container">
        <a class="navbar-brand" href="/">E-Shoppers</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
<!-- </div>
<div class="form-group">
    <label for="catalog">Catalog:</label>
    <select  class="form-control" required="required" 
       th:value="${catagory.name}" name="catagoryname" id="catagoryname">
      <option disabled="disabled" selected="selected" > --Catagories--</option>
      <option th:each="catagory : ${catagories}" th:value="${catagory.id}" 
       th:text="${catagory.name}" >
      </option>
    </select>
</div> --><!-- 
  <div class="form-group">
  <label for="catalog">Catalog:</label>
    <select  class="form-control" th:value="${catagory.name}" name="catagoryname" id="catagoryname">
	<option>--All--</option>
	<option th:each="catalog : ${catalogs}" th:value="${catalog.id}" 
       th:text="${catalog.catalogName}" >
      </option>
	</select>
	</div> -->
	<input type="text" class="search" id="search" placeholder="Please enter Key words" >
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/product">redae</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/catalog">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login" data-target="#container" >Sign In</a>
            </li>
             <li class="nav-item">
                <a href="/shoppingcart" data-target="#container" class="nav-link">
                    <span id="shopping-cart"><img alt="shoppingcart" src="../images/shoppingcart.jpg" height="30" width="30">
                        <span>0</span><!-- ${numItems} from shopping cart-->
                    </span>
                </a>
                 </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container" id="container">

      <!-- Jumbotron Header -->
      <header class="jumbotron my-4"><!-- 
        <h1 class="display-3">Welcome To E-Shoppers!</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
        <a href="#" class="btn btn-primary btn-lg">Call to action!</a> -->
        <img class="card-img-top" src="../images/eshopper-Header.png" alt="">
        
      </header>

      <!-- Page Features -->
      <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="../images/mob1.jpg" alt="iphone">
            <div class="card-body">
              <h4 class="card-title">iPhone</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="../images/e-shoppers-1.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">Motorola</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="../images/e-shopping-cart.png" alt="">
            <div class="card-body">
              <h4 class="card-title">Samsung</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="../images/gpxl.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark" th:fragment="footerCopyRight">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; E-Shoppers 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
