<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
	<link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
<title>E-SHOPPERS</title>
</head>
<body>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>E-SHOPPERS</title>
</head>
<body>
<div>
<header th:replace="webapps/index :: navHeader">	</header></div>
 <div class="container">
	<div class="row">
		<div class="Absolute-Center is-Responsive">
			<div id="logo-container"></div>
			<div class="col-sm-12 col-md-10 col-md-offset-1">
				<form th:action="@{/login}" method="post" th:object="${user}" >

			<!--	<p th:if="${user}" class="error"><font color="red"></font>User name or password is Invalid</font></p>
                  -->
                         <div class="form-group input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
						<input class="form-control" type="text" name='username' placeholder="email" />
				<label th:value="${user}" ></label>


					</div>
					<div class="form-group input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
						<input class="form-control" type="password" name='password' placeholder="password" />
			<!--			<label th:if="${#fields.hasErrors('password')}" th:errors="*{user.email}" class="validation-message"></label>
-->
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-def btn-block">Login</button>
					</div>
					<div class="form-group text-center">
						<a href="/signup">Sign Up</a>
						<a href="/signup/">Forgot Password</a>&nbsp;|&nbsp;<a href="#">Support</a>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>