<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/masterlayout}">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>E-Shoppers</title>


	  <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{/css/cataloglist.css}" />
    <!-- Custom styles for this template -->
    <link href="../css/heroic-features.css" rel="stylesheet">

  </head>

  <body>
<!--<div>-->
<!--<header th:replace="webapps/index::navHeader">	</header>-->
<!--</div>-->

<br/>
<th:block layout:fragment="content">
    <div class="container" id="container">
		<h1>Products List</h1><br/>
		<!--<a href="/addcatalog">Create a Catalog</a>-->
		<a href="/" id="linkBackHome" >Back to home</a><br/><br/>
		<!--<table class="table table-striped">-->
			<!--<thead>-->
				<!--<th>Product ID</th>-->
				<!--<th>Product Name</th>-->
				<!--<th>Unit Price</th>-->
                <!--<th>Product Image</th>-->
				<!--<th>Actions</th>-->
			<!--</thead>-->
			<!--<tbody>-->
				<!--<tr th:each="product,imageIndex : ${products}">-->
					<!--<td th:text="${product.id}"></td>-->
                    <!--<td th:text="${product.productName}"></td>-->
					<!--<td th:text="${product.unitPrice}"></td>-->
                    <!--<td ><img  width="200" height="200" th:src="@{'data:image/jpeg;base64,'+${productImages[imageIndex.index]}}"/></td>-->

                    <!--&lt;!&ndash;<td><img  th:src="@{'data:image/jpeg;base64,'+${product.productPic}}"/></td>&ndash;&gt;-->
					<!--<td>-->
						<!--<a th:href="@{'/product/' + ${product.id}}">Edit</a>&nbsp;-->
						<!--<a th:href="@{'/product/delete/' + ${product.id}}">Delete</a>-->
					<!--</td>-->
				<!--</tr>-->
			<!--</tbody>-->
		<!--</table>-->
     </div>
  
    <span id="list" style="float:left" th:each="product,imageIndex : ${products}">
 			<!--<img src="https://images.pexels.com/photos/46710/pexels-photo-46710.jpeg?cs=srgb&dl=beach-sand-summer-46710.jpg&fm=jpg" alt="online pic" width="100" height="100">-->
			<img  width="200" height="200" th:src="@{'data:image/jpeg;base64,'+${productImages[imageIndex.index]}}"/>
            <p th:text="'Name: ' + ${product.productName}"></p>
			<p th:text="'Available In Stock: ' + ${product.quantity}"></p>
			<p th:text="'Unit Price: $' + ${product.unitPrice}"></p>
            <!--<p th:text="'Description: ' + ${product.description}"></p>-->
			<!--<p th:text="${catalog.description}"></p>-->
		<!--	<input type="button" onclick="description()" value="CheckOut">-->
		<a th:href="@{'/AddToCart/'+${product.id}}">AddToCart</a>

		</span>
  </th:block>
    <!--<div>-->
	<!--<footer th:replace="webapps/index :: footerCopyRight"></footer>-->
<!--</div>-->
  </body>
</html>
